# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VanishingSong/VanishingSong/Release/VanishingSong.tlog/link.command.1.tlog
VanishingSong/VanishingSong/Release/VanishingSong.tlog/link.read.1.tlog
VanishingSong/VanishingSong/Release/VanishingSong.tlog/link.write.1.tlog
VanishingSong/VanishingSong/Texture/修正点.jpg
VanishingSong/Release/VanishingSong.pdb
VanishingSong/VanishingSong/Debug/VanishingSong.Build.CppClean.log
VanishingSong/VanishingSong/Release/VanishingSong.log
VanishingSong/VanishingSong/Release/VanishingSong.tlog/CL.read.1.tlog
VanishingSong/VanishingSong/Release/VanishingSong.tlog/CL.write.1.tlog
VanishingSong/VanishingSong/Release/VanishingSong.tlog/VanishingSong.lastbuildstate
VanishingSong/VanishingSong/Release/VanishingSong.tlog/cl.command.1.tlog
