# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.fbm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Others visualStudio
*.ilk
*.pdb
*.suo
*.opensdf
*.sdf
*.tlog
VanishingSong/VanishingSong/Debug/VanishingSong.log
VanishingSong/VanishingSong/Release/VanishingSong.log
